.story-fields {
  width: 50%;
}

.story-field {
  display: flex !important;
  flex-direction: column;

  &--inline {
    flex-direction: row;

    .story-field__editor {
      flex: 1 1 auto;
    }
  }

  &__label-text {
    flex: 0 0 auto;
    width: 200px;
    display: inline-block;
  }

  textarea {
    height: 200px;
  }
}
