.story-fields {
  width: 70%;
  padding-bottom: 150px;
}

.story-field {
  display: flex !important;
  flex-direction: column;

  .bp3-popover-wrapper, .bp3-popover-target {
    display: flex !important;
    flex: 1 1 auto !important;
    margin: 0 !important;
  }

  .story-field__editor {
    flex: 1 1 auto;

    &--multiselect div {
      display: flex !important;
      flex: 1 1 auto;
    }
  }

  &--inline {
    flex-direction: row;
  }

  &__label-text {
    font-weight: bold;
    flex: 0 0 auto;
    width: 200px;
    display: inline-block;
    margin-bottom: 10px;
  }

  textarea {
    height: 200px;
  }
}

.bp3-callout {
  margin-bottom: 20px;
}


.loading-overlay {
  &__spinner {
    top: calc(50% - 25px);
    left: calc(50% - 25px);

    svg {
      height: 50px;
      width: 50px;
    }
  }
}

.instructions-dialog {
  width: 750px;
  h5 {
    cursor: pointer;
  }
  code {
    color: blue;
  }
}