@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";

html, body, #root {
  height: 100%;
}

.app {
  margin: auto;
  max-width: 1100px;
  height: 100%;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    flex: 0 0 auto;
    height: 100px;;
    margin-bottom: 15px;
    .bp3-navbar-group {
      height: 100%;
    }

    .avatar {
      border-radius: 50%;
      height: 32px;
      width: 32px;
      cursor: pointer;

      &:hover {
        box-shadow: rgba(16, 22, 26, 0.1) 0 0 0 1px, rgba(16, 22, 26, 0.2) 0 2px 4px, rgba(16, 22, 26, 0.2) 0 8px 24px;
      }
    }
  }

  .page-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
}
