@import-normalize;

html, body, #root {
  height: 100%;
}

.app {
  margin: auto;
  max-width: 1100px;
  height: 100%;
}

.login-dialog {
  width: 400px;
  .login-button {
    padding: 5px;
    img {
      height: 50px;
    }
  }
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;

  .header {
    flex: 0 0 auto;
    height: 100px;;
    margin-bottom: 15px;
    .bp3-navbar-group {
      height: 100%;
    }

    .logo {
      height: 100px;
    }

    .avatar {
      border-radius: 50%;
      height: 32px;
      width: 32px;
      cursor: pointer;

      &:hover {
        box-shadow: rgba(16, 22, 26, 0.1) 0 0 0 1px, rgba(16, 22, 26, 0.2) 0 2px 4px, rgba(16, 22, 26, 0.2) 0 8px 24px;
      }
    }
  }

  .page-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
}

.page--mobile .header .logo {
  height: 80px;
}

.banner {
  button.close {
    float: right;
  }
  .wrapper {
    display: flex;
    .left {
      .buttons {
        padding: 5px 0;
        .bp3-button {
          margin-right: 10px;
        }
      }
    }
    .right {
      display: flex;
      .block {
        padding: 10px;
        h2 {
          margin-bottom: 10px;
        }
        h5 {
          margin: 0px;
        }
        text-align: center
      }
    }
  }
}

.page--mobile .banner .right {
  display: none;
}
