.story-details {
  padding-bottom: 100px;
  &__city {
    margin-bottom: 15px;
    font-size: 16px;
  }

  &__left-column {
    margin-right: 15px;
  }

  &__social {
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
      a {
        line-height: 25px;
        svg {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
    }
  }

  .youtube-redirect {
    padding: 20px;
    justify-content: center;
    display: flex;
  }
  .story-details__left-column &__description {
    margin-top: 55px;
  }

  .sosial-network-share {
    float: left;
    margin-top: 10px;
  }
  .story-info__social {
    float: right;
    margin-top: 15px;
  }

  h5 {
    margin-top:20px;
  }
}

.story-details.desctop {
  display: flex;
  .story-details__left-column {
    min-width: 650px;
    max-width: 70%;
  }
}