.story-details {
  display: flex;

  &__city {
    margin-bottom: 15px;
    font-size: 16px;
  }
  &__left-column {
    margin-right: 15px;
  }
  .story-details__left-column &__description {
    margin-top: 55px;
  }

  .sosial-network-share {
    float: left;
    margin-top: 10px;
  }
  .story-info__social {
    float: right;
    margin-top: 15px;
  }

  h5 {
    margin-top:20px;
  }
}