Здравствуйте, {{.Username}}!

Вам поступл новый платеж в размере {{.Amount}} {{.Currency}}. 

На номер {{.PaymentPhone}} должно было прийти СМС сообщение с инструкциями как получить платеж.

Если вы хотите связаться с отправителем вы можете воспользоваться следующей контактной информацией: {{.Contact}}

По всем вопросам можете обращатся в одну из наших групп:
https://www.facebook.com/groups/266490514617713/
https://vk.com/public196852521
https://ok.ru/group/57735585398851

--
С уважением,
Команда Дапамажы.by

