<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
    <meta property="og:description" content="Дапамажы свайму сябру {{.Username}}" />
    <meta property="og:title" content="{{.Title}}" />
    <meta property="og:image" content="https://img.youtube.com/vi/{{.VideoId}}/0.jpg" />
    <meta property="og:type" content="video.other">
    <meta property="og:video" content="{{.VideoUrl}}" />
    <meta property="og:video:type" content="application/x-shockwave-flash" />
</head>
<body>
</body>
</html>
 
