Здравствуйте, {{.Username}}!

Вам поступл новый платеж в размере {{.Amount}} {{.Currency}}. 

Для того чтобы забрать деньги Вам нужно будет прийти с паспортом в одно из отделений WesternUnion и предоставить код платежа: {{.ReferenceNumber}}

Если вы хотите связаться с отправителем вы можете воспользоваться следующей контактной информацией: {{.Contact}}

По всем вопросам можете обращатся в одну из наших групп:
https://www.facebook.com/groups/266490514617713/
https://vk.com/public196852521
https://ok.ru/group/57735585398851

--
С уважением,
Команда Дапамажы.by